backend/control/__pycache__/__init__.cpython-311.pyc
backend/control/__pycache__/user_controller_v2.cpython-311.pyc
backend/entity/__pycache__/__init__.cpython-311.pyc
backend/entity/__pycache__/models.cpython-311.pyc
